<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <h1>Welcome to the landing page of this Flask project</h1>
    <h2>This is just some filler text, don't mind it too much</h2>
    <hr>
    <div class="simple_form">
        <form method="get">
            <label for="nome">Enter the restaurant name you want to see information about:</label>
            <input type="text" name="nome">
        </form>
    </div>
</body>
</html>